
body {
  font-family: arial;
  font-size: 11pt;
}

/* page-content */

#page-content-wrapper {
  height: 100%;  
}

#projects header {
  padding-top: 0.5em;
}

#projects li {
  padding-top: 0.3em;
}

/* sidebar */

#sidebar-wrapper {
  background-color: silver;
  border-left: solid 2px gray;
  padding: 1em;
  height: 100%;
}

/* coderwall badges */

#coderwall {
  float: center;
  text-align: center;
  width: 220px; /* each badge has 65px */
}

.coderwall-logo {
  display: none;
}

#stackexchange {
  float: center;
  clear: both;
  text-align: center;
  padding-top: 1em;
}

#stackexchange a img {
  border: 1px solid gray;
}

#social_media_links {
  float: center;
  clear: both;
  text-align: center;
  padding-top: 1em;
}

#social_media_links a {
  padding-left: 2px;
  padding-right: 2px;
}

#social_media_links a img {
  border: 0;
}

footer#copyright {
  position: absolute;
  left: 1em;
  bottom: 0;
}
