
body {
  width: 100%;
  padding: 0;
  margin: 0 0 0 1em;

  font-family: arial;
  font-size: 11pt;
}

header {
}

body > header {
  clear: left;
  float: left;
}

section#projects {
  clear: left;
  float: left;
}

section#projects > header {
}

section#projects ul {
  margin-left: 0px;
}

section#projects li {
  margin-left: 0px;
  padding-top: 0.5em;
}

section#projects > li:first {
  padding-top: 0;
  background-color: orange;
}

section#site_links {
  background-color: silver;
  border-left: solid 2px gray;
  padding: 1em;
  width: 250px;

  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

section#site_links div#wrapper {
  position: relative;
  height: 90%;
}

section#coderwall {
  float: none;
  text-align: center;
  width: 200px;
}

.coderwall-logo {
  display: none;
}
 
section#stackexchange {
  clear: both;
  float: none;
  text-align: center;
  padding-top: 1em;
}

#stackexchange a img {
  border: 1px solid gray;
}

footer {
  position: absolute;
  left: 1em;
  bottom: 0;
  text-align: center;
}
